* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #f28ab2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#container {
  max-width: 40vw;
  margin: 12vh auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

#innerContainer {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 25px;
  line-height: 1.25;
  font-weight: 100;
}
#bithdayList {
  list-style-type: none;
  margin: 20px 0px;
}
#bithdayList li {
  margin-bottom: 20px;
}
#bithdayList li section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 15px;
  align-items: center;
}
#bithdayList li section img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
#bithdayList li section div h4 {
  font-weight: 100;
  line-height: 1;
  margin-bottom: 7px;
}

#bithdayList li section div p {
  color: #f28ab2;
  font-weight: lighter;
  font-size: small;
}

#button {
  background-color: #f28ab2;
  border: none;
  padding: 15px 0px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  font-size: 17px;
}

@media screen and (max-width: 900px) {
  #container {
    max-width: 50vw;
  }
}
@media screen and (max-width: 800px) {
  #container {
    max-width: 60vw;
  }
}

@media screen and (max-width: 600px) {
  #container {
    max-width: 70vw;
  }
  #title {
    font-size: 20px;
  }
  #bithdayList li section div h4 {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  #container {
    max-width: 90vw;
  }
  #title {
    font-size: 20px;
  }
  #bithdayList li section div h4 {
    font-size: 13px;
  }
}
